[Desktop Entry]
Version=1.0
Name=DBeaver
Exec=/opt/dbeaver/dbeaver
Terminal=false
Icon=/opt/dbeaver/icon.xpm
Type=Application
Categories=IDE;Development
Name=dbeaver

