"*":
  "atom-beautify":
    general:
      _analyticsUserId: "11fcb4db-45c3-4061-93c7-b5ea70377a3b"
  core:
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "tmp/**"
      "log/**"
      "vendor/**"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "d9777ac5-6447-d222-28d7-550e27b138c8"
  "fuzzy-finder": {}
  "language-elm":
    elmOraclePath: "/usr/bin/elm-oracle"
  linter: {}
  "linter-coffeelint":
    coffeelintConfigPath: "~/.atom"
  metrics:
    userId: "ef30476e655c54fa74d8395d7b02552b7ebcc66a"
  "package-sync":
    forceOverwrite: true
  "rails-transporter": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    showOnRightSide: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
