'.platform-linux':
  'ctrl-t': 'unset!'
'atom-workspace':
  'ctrl-r c':   'unset!'
  'ctrl-r v f': 'unset!'
  'ctrl-r v':   'unset!'
  'ctrl-r l':   'unset!'
  'ctrl-r m':   'unset!'
  'ctrl-r h':   'unset!'
  'ctrl-r s':   'unset!'
  'ctrl-r p':   'unset!'
  'ctrl-r a':   'unset!'
  'ctrl-r d m': 'unset!'
  'ctrl-r f':   'unset!'
  'ctrl-t c':   'rails-transporter:open-controller'
  'ctrl-t v f': 'rails-transporter:open-view-finder'
  'ctrl-t v':   'rails-transporter:open-view'
  'ctrl-t l':   'rails-transporter:open-layout'
  'ctrl-t m':   'rails-transporter:open-model'
  'ctrl-t h':   'rails-transporter:open-helper'
  'ctrl-t s':   'rails-transporter:open-spec'
  'ctrl-t p':   'rails-transporter:open-partial-template'
  'ctrl-t a':   'rails-transporter:open-asset'
  'ctrl-t d m': 'rails-transporter:open-migration-finder'
  'ctrl-t f':   'rails-transporter:open-factory'
