packages: [
  "atom-beautify"
  "atom-typescript"
  "busy-signal"
  "file-icons"
  "intentions"
  "language-docker"
  "language-elm"
  "language-haml"
  "language-nginx"
  "language-slim"
  "linter"
  "linter-elm-make"
  "linter-ui-default"
  "markdown-scroll-sync"
  "package-sync"
  "split-diff"
  "tabularize"
]
