packages: [
  "atom-beautify"
  "atom-handlebars"
  "file-icons"
  "language-docker"
  "language-elm"
  "language-haml"
  "language-nginx"
  "language-slim"
  "linter"
  "linter-elm-make"
  "markdown-scroll-sync"
  "package-sync"
  "rails-transporter"
  "split-diff"
  "tabularize"
]
